
.divTitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

.divCenter
{
  display: inline-block;
  background-color: WhiteSmoke;
  padding:50px;
  padding-top: 20px;

}

.btnCenter
{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pad
{
  padding-top: 10px;

}

#btnIngresar
{
  padding-right: 100px;
  padding-left: 100px;
}

#navbaruser
{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;

}

.barcenter
{

    display: inline-block;
    margin: 0 auto;
    padding: 0px auto;
     padding-bottom: 20px;
     overflow: hidden;
}

#navbaruser li
{
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
        color:white;

}

#floating_alert {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5000;
}

.verticalLine {
  margin-top: 40px;
  border-bottom: 1px solid gray;
}

.button{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px  !important;
}

label.required:after {content: "*"; color: red;}

.span3 {
    height: 100px !important;
    overflow: scroll;
}​

.column
{
    float: left;
    width: 50%;
}
