<!DOCTYPE html>
<html lang="en">

<!--=================================================================================================================-->

<head>

    <!----------------------------------------------------------------------------------------------------------------->
    <title> Ejemplo </title>

    <!----------------------------------------------------------------------------------------------------------------->
    <!--                                                          //Import basicos de estilo                         -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
    <link href="../Bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!----------------------------------------------------------------------------------------------------------------->
</head>

<!--=================================================================================================================-->

<body class="row" >

    <!----------------------------------------------------------------------------------------------------------------->
    <!--                                                            //Top navigation bar                             -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-collapse collapse">

                <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                <!--                                                //Title in the bar                               -->
                <a class="navbar-brand"><b>Company</b></a>

                <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                <!--                                                //Extra links in the bar                         -->
                <ul class="nav navbar-nav">
                    <li><a href="#about">Acerca de nosostros</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a id="btnExit" href="#about">Salir</a></li>
                </ul>

                <ul class="nav navbar-right pad">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Reportes
                      <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="btnVR1">Empleados por salario</a></li>
                            <li><a href="#" id="btnVR2">Cumpleaños de empleados</a></li>
                        </ul>
                    </div>
                </ul>
                <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
            </div>
        </div>
    </nav>

    <!----------------------------------------------------------------------------------------------------------------->
    <!--                                                            //Navigation bar                                 -->

    <div class="row">

        <div class="col-md-4"></div>
        <nav class="navbar navbar-default col-md-4" id="navbaruser">
        <ul class="nav navbar-nav navbar-center">
            <div class="barcenter row">

                <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                <!--                                                //Buton to view employees                        -->
                <div class="col-md-4">
                <li id="btnShowEmployees"><a class="navbar-brand" style="text-align: center; cursor: pointer;"><span
                        class="glyphicon glyphicon-user" aria-hidden="true"></span><br>Empleados</a><br>
                    <div id="divLineEmployee" class="verticalLine" hidden="hidden"></div>
                </li>
                </div>

                <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                <!--                                                //Buton to view Departments                      -->
                <div class="col-md-4">
                <li id="btnShowDepartments"><a class="navbar-brand" style="text-align: center; cursor: pointer;"><span
                        class="glyphicon glyphicon-home" aria-hidden="true"></span><br>Departamentos</a><br>
                    <div id="divLineDepartment" class="verticalLine" hidden="hidden"></div>
                </li>
                </div>

                <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                <!--                                                //Buton to view Projects                         -->
                <div class="col-md-4">
                <li id="btnShowProjects"><a class="navbar-brand" style="text-align: center; cursor: pointer;"><span
                        class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><br>Proyectos</a><br>
                    <div id="divLineProjects" class="verticalLine" hidden="hidden"></div>
                </li>
                </div>

                <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
            </div>
    </nav>
      <div class="col-md-4"></div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------->
    <!--                                                            //Label to control the user view it have the ssn -->
    <input type="hidden" name="smname" id="lblSSN" />

    <!----------------------------------------------------------------------------------------------------------------->
    <!--                                                            /Div who load the required view, required by the
                                                                    //      center navigation bar                    -->
    <div id="divView" style="padding-top:20px">

    </div>

    <!----------------------------------------------------------------------------------------------------------------->
</body>
<script src="../Controller/0-CheckSessionController.js"></script>
<script src="../Controller/Z-ViewController.js"></script>
<script src="V1-MainMenuActions.js"></script>

<!--=================================================================================================================-->

</html>
